<div>
  <a [routerLink]="['/home']">主页</a>
  <!-- 路由传参 -->
  <!-- <a [routerLink]="['/product']" [queryParams]="{id: 1,name: 'name'}">产品</a> -->
  <!-- url路径传参 -->
  <a [routerLink]="['/product', 1]">产品</a>
  <input type="button" value="商品详情" (click)="toProductDetails()">
  <!-- primary可以指定主路由，无论哪个页面点击该路由跳转，主路由都跳转到指定组件 -->
  <a [routerLink]="[{outlets: { aux: 'chat'}}]">开始聊天</a>
  <a [routerLink]="[{outlets: {aux: null}}]">结束聊天</a>
  <router-outlet></router-outlet>
  <!-- 辅助路由，有name属性 -->
  <router-outlet name="aux"></router-outlet>
</div>
